.rc-picker {
  @apply inline-flex;
}
.rc-picker-rtl {
  @apply direction-reverse;
}
.rc-picker-focused {
  @apply border-primary;
}
.rc-picker-panels {
  max-width: calc(100vw - 3rem);
  overflow-x: scroll;
  @apply flex gap-2;
  @apply scrollbar-none;
}
.rc-picker-panel {
  @apply bg-component rounded;
  @apply border-muted border shadow;
  @apply inline-block;
  @apply align-top;
}
.rc-picker-panel-focused {
  @apply border-primary;
}
.rc-picker-panel-rtl {
  @apply direction-reverse;
}
.rc-picker-decade-panel,
.rc-picker-year-panel,
.rc-picker-month-panel,
.rc-picker-week-panel,
.rc-picker-date-panel,
.rc-picker-time-panel {
  @apply flex flex-col;
}
.rc-picker-decade-panel table,
.rc-picker-year-panel table,
.rc-picker-month-panel table,
.rc-picker-week-panel table,
.rc-picker-date-panel table,
.rc-picker-time-panel table {
  @apply text-center;
  @apply border-collapse;
  th,
  td {
    @apply p-1;
  }
  th {
    @apply text-content/50 text-xs font-medium;
  }
}
.rc-picker-header {
  @apply flex;
  @apply gap-2;
  @apply p-4;
  @apply border-muted border-b;
  @apply min-h-[4rem];
}
.rc-picker-header > * {
  @apply flex-none px-0;
}
.rc-picker-header > button {
  @apply opacity-50;
}
.rc-picker-header-view {
  @apply flex items-center justify-center gap-1;
  @apply flex-auto;
  @apply text-center;
}
.rc-picker-header-view > button {
  @apply btn btn-ghost p-0;
}
.rc-picker-body {
  @apply p-2;
}
.rc-picker-cell {
  @apply text-muted;
}
.rc-picker-cell-disabled {
  @apply opacity-20;
}
.rc-picker-cell-inner {
  @apply flex items-center justify-center;
  @apply box-border;
  @apply w-full;
  @apply h-7;
  @apply m-0 px-2 py-1;
  @apply text-xs;
  @apply leading-5;
  @apply bg-transparent;
  @apply border-0;
  @apply border-none;
  @apply outline-none;
  @apply cursor-pointer;
  @apply transition-all;
  @apply rounded;
}
.rc-picker-cell-inner:hover {
  @apply bg-primary/30;
}
.rc-picker-cell-in-view {
  @apply text-content;
}
.rc-picker-cell-in-range > .rc-picker-cell-inner {
  @apply bg-primary/30;
}
.rc-picker-cell-range-hover-start,
.rc-picker-cell-range-hover-end,
.rc-picker-cell-range-hover {
  @apply relative;
}
.rc-picker-cell-range-hover-start::after,
.rc-picker-cell-range-hover-end::after,
.rc-picker-cell-range-hover::after {
  @apply absolute;
  @apply content-none;
  @apply top-1;
  @apply right-0;
  @apply bottom-0;
  @apply left-0;
  @apply border-primary border-y;
  @apply pointer-events-none;
}
.rc-picker-cell-range-hover-start::after {
  @apply border-l-primary;
}
.rc-picker-cell-range-hover-end::after {
  @apply border-r-primary;
}
.rc-picker-cell-today > .rc-picker-cell-inner {
  @apply border-primary border border-solid;
}
.rc-picker-cell-range-start > .rc-picker-cell-inner,
.rc-picker-cell-range-end > .rc-picker-cell-inner,
.rc-picker-cell-selected > .rc-picker-cell-inner {
  @apply bg-primary/20;
}
.rc-picker-presets {
  @apply bg-primary-100/20;
}
.rc-picker-presets ul {
  @apply m-0 p-0;
  @apply list-none;
}
.rc-picker-footer,
.rc-picker-picker-footer {
  @apply bg-component border-muted rounded-b border-t p-2;
  a,
  button {
    @apply btn size-sm btn-primary-outlined btn-normal text-xs;
  }
}
.rc-picker-ranges {
  @apply m-0 p-0;
  @apply overflow-hidden;
  @apply list-none;
}
.rc-picker-ranges > li {
  @apply inline-block;
}
.rc-picker-ok {
  @apply float-right;
}
.rc-picker-year-panel .rc-picker-cell-inner,
.rc-picker-month-panel .rc-picker-cell-inner {
  @apply w-20;
}
.rc-picker-week-panel-row:hover .rc-picker-cell {
  @apply bg-primary;
}
.rc-picker-week-panel-row-selected .rc-picker-cell {
  @apply bg-primary/30;
}
.rc-picker-week-panel-row-range-hover .rc-picker-cell {
  @apply bg-primary/10;
}
.rc-picker-week-panel-row-range-start .rc-picker-cell,
.rc-picker-week-panel-row-range-end .rc-picker-cell {
  @apply bg-primary/30;
}
.rc-picker-week-panel .rc-picker-cell,
.rc-picker-week-panel .rc-picker-cell-inner {
  @apply w-7;
}
.rc-picker-week-panel .rc-picker-cell-week {
  @apply text-xs;
  @apply text-muted;
  @apply font-bold;
}
.rc-picker-week-panel .rc-picker-cell:hover > .rc-picker-cell-inner,
.rc-picker-week-panel .rc-picker-cell-selected > .rc-picker-cell-inner {
  @apply bg-transparent;
}
.rc-picker-date-panel .rc-picker-cell-inner {
  @apply w-7;
}
.rc-picker-time-panel {
  @apply w-auto;
}
.rc-picker-time-panel .rc-picker-content {
  @apply flex;
  @apply max-h-52;
}
.rc-picker-time-panel-column {
  @apply flex-none;
  @apply w-8;
  @apply m-0 p-0 pb-48;
  @apply overflow-hidden;
  @apply text-xs;
  @apply list-none;
  @apply transition-all;
  @apply scrollbar scrollbar-w-px scrollbar-thumb-primary scrollbar-track-rounded scrollbar-thumb-rounded scrollbar-track-black;
}
.rc-picker-time-panel-column-active {
  @apply bg-primary/10;
}
.rc-picker-time-panel-column:hover {
  @apply overflow-y-auto;
}
.rc-picker-time-panel-column > li {
  @apply m-0 p-0;
  @apply cursor-pointer;
}
.rc-picker-time-panel-column > li.rc-picker-time-panel-cell-disabled {
  @apply opacity-50;
}
.rc-picker-time-panel-column > li .rc-picker-time-panel-cell-inner {
  @apply block;
  @apply w-full;
  @apply h-5;
  @apply m-0 p-0;
  @apply text-content;
  @apply leading-5;
  @apply text-center;
}
.rc-picker-panel-rtl .rc-picker-time-panel-column > li .rc-picker-time-panel-cell-inner {
  @apply p-0 pr-3;
  @apply text-right;
}
.rc-picker-datetime-panel {
  @apply divide-muted flex divide-x;
}
.rc-picker-datetime-panel .rc-picker-time-panel {
  @apply border-l-muted;
}
.rc-picker-datetime-panel .rc-picker-date-panel,
.rc-picker-datetime-panel .rc-picker-time-panel {
  @apply transition-all;
}
.rc-picker-datetime-panel-active .rc-picker-date-panel,
.rc-picker-datetime-panel-active .rc-picker-time-panel {
  @apply opacity-30;
}
.rc-picker-datetime-panel-active .rc-picker-date-panel-active,
.rc-picker-datetime-panel-active .rc-picker-time-panel-active {
  @apply opacity-100;
}
.rc-picker-input {
  @apply relative;
  @apply inline-flex;
  @apply w-full;
}
.rc-picker-rtl .rc-picker-input {
  @apply text-right;
}
.rc-picker-input > input {
  @apply w-full transition-all;
}
.rc-picker-input > input::-moz-placeholder {
  @apply opacity-100;
}
.rc-picker-input > input::placeholder {
  @apply text-muted;
}
.rc-picker-input > input:placeholder-shown {
  @apply text-ellipsis;
}
.rc-picker-input-placeholder > input {
  @apply text-primary;
}
.rc-picker-clear {
  @apply absolute;
  @apply text-sm;
  @apply opacity-50;
  @apply top-0;
  @apply right-5;
  @apply cursor-pointer;
}
.rc-picker-rtl .rc-picker-clear {
  @apply right-auto;
  @apply left-1;
}
.rc-picker-clear-btn::after {
  @apply content-['x'];
}
.rc-picker-dropdown {
  @apply absolute z-50;
}
.rc-picker-dropdown-range {
  @apply p-0;
}
.rc-picker-dropdown-range .rc-picker-panel:only-child {
  @apply rounded-b-none border-b-0;
}
.rc-picker-dropdown-range .rc-picker-footer {
  @apply border-muted border;
}
.rc-picker-dropdown-hidden {
  @apply hidden;
}
.rc-picker-dropdown-placement-topLeft .rc-picker-range-arrow,
.rc-picker-dropdown-placement-topRight .rc-picker-range-arrow {
  @apply bottom-1;
  @apply rotate-[135deg];
}
.rc-picker-dropdown-placement-bottomLeft .rc-picker-range-arrow,
.rc-picker-dropdown-placement-bottomright .rc-picker-range-arrow {
  @apply top-1;
  @apply -rotate-[45deg];
}
.rc-picker-dropdown .rc-picker-range-arrow {
  @apply absolute;
  @apply left-2;
  @apply z-[1];
  @apply w-2;
  @apply h-2;
  @apply ml-2;
  @apply transition-all;
}
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow {
  @apply right-2;
  @apply left-auto;
  @apply mr-2;
  @apply ml-0;
}
.rc-picker-dropdown .rc-picker-range-arrow::before,
.rc-picker-dropdown .rc-picker-range-arrow::after {
  @apply absolute;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply content-none;
  @apply box-border;
}
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow::before,
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow::after {
  @apply right-1/2;
  @apply left-auto;
  @apply translate-x-1/2;
  @apply -translate-y-1/2;
}
.rc-picker-dropdown .rc-picker-range-arrow::before {
  @apply w-2;
  @apply h-2;
  @apply border-primary border-4 border-r border-t;
}
.rc-picker-dropdown .rc-picker-range-arrow::after {
  @apply w-2;
  @apply h-2;
  @apply border-primary border-4;
}
.rc-picker-range {
  @apply relative inline-flex;
}
.rc-picker-range-wrapper {
  @apply flex;
}
.rc-picker-range .rc-picker-active-bar {
  @apply bottom-0;
  @apply h-full;
  @apply bg-primary/10;
  @apply border-primary/50 border border-dashed;
  @apply opacity-0;
  @apply pointer-events-none;
  @apply transition-all;
}
.rc-picker-range.rc-picker-focused .rc-picker-active-bar {
  @apply opacity-100;
}
.rc-picker-panel-container {
  @apply inline-block;
  @apply align-top;
  @apply transition-all;
}
.rc-picker-panel-layout {
  @apply flex;
  @apply flex-nowrap;
  @apply items-stretch;
}
