.rc-slider {
  @apply relative;
  @apply w-full;
  @apply h-4;
  @apply py-1;
  @apply px-0;
  @apply touch-none;
  @apply box-content;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  @apply box-border;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  @apply absolute;
  @apply w-full;
  @apply h-1;
  @apply bg-default;
  @apply rounded;
}
.rc-slider-track {
  @apply absolute;
  @apply h-1;
  @apply bg-primary;
  @apply rounded;
}
.rc-slider-handle {
  @apply absolute;
  @apply h-3 w-3;
  @apply -mt-1;
  @apply bg-primary;
  @apply cursor-pointer;
  @apply touch-pan-x;
  transform: translateX(-50%) rotate(45deg) !important;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  @apply ring-primary/50 ring;
}
.rc-slider-handle:focus {
  @apply outline-none ring-0;
}
.rc-slider-handle:focus-visible {
  @apply ring-primary/20 ring;
}
.rc-slider-handle-click-focused:focus {
  @apply ring-primary/20 ring;
}
.rc-slider-handle:hover {
  @apply ring-primary/20 ring;
}
.rc-slider-handle:active {
  @apply cursor-grabbing;
}
.rc-slider-mark {
  @apply absolute;
  @apply left-0 top-4;
  @apply w-full;
  @apply text-xs;
}
.rc-slider-mark-text {
  @apply absolute;
  @apply inline-block;
  @apply cursor-pointer text-center align-middle;
}
.rc-slider-mark-text-active {
  @apply text-primary/80;
}
.rc-slider-step {
  @apply absolute;
  @apply w-full;
  @apply h-1;
  @apply bg-transparent;
  @apply pointer-events-none;
}
.rc-slider-dot {
  @apply absolute;
  @apply -bottom-1;
  @apply h-3 w-3;
  @apply align-middle;
  @apply bg-default;
  @apply border-default border;
  @apply cursor-pointer;
  transform: translateX(-50%) rotate(45deg) !important;
}
.rc-slider-dot-active {
  @apply border-primary;
}
.rc-slider-dot-reverse {
  @apply -ml-2;
}
.rc-slider-disabled {
  @apply opacity-50;
}
.rc-slider-disabled .rc-slider-track {
  @apply bg-muted;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  @apply bg-muted border-line cursor-not-allowed shadow-none;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  @apply cursor-not-allowed;
}
.rc-slider-vertical {
  @apply h-full w-4 px-1 py-0;
}
.rc-slider-vertical .rc-slider-rail {
  @apply h-full w-1;
}
.rc-slider-vertical .rc-slider-track {
  @apply bottom-0;
  @apply left-1;
  @apply w-1;
}
.rc-slider-vertical .rc-slider-handle {
  @apply -ml-1 mt-0;
  @apply touch-pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  @apply left-4 top-0 h-full;
}
.rc-slider-vertical .rc-slider-step {
  @apply h-full w-1;
}
.rc-slider-vertical .rc-slider-dot {
  @apply -ml-1;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  @apply fill-mode-both paused block duration-100;
}
.rc-slider-tooltip-zoom-down-leave {
  @apply fill-mode-both paused block duration-100;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  @apply animate-in fade-in;
  @apply running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  @apply animate-out fade-out;
  @apply running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  @apply scale-0 ease-in;
}
.rc-slider-tooltip-zoom-down-leave {
  @apply ease-out;
}
.rc-slider-tooltip {
  @apply absolute -left-[99999] -top-[99999];
  @apply visible;
  @apply box-border;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  @apply box-border;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip-hidden {
  @apply hidden;
}
.rc-slider-tooltip-placement-top {
  @apply pb-2 pl-0 pr-0 pt-1;
}
.rc-slider-tooltip-inner {
  @apply h-6 min-w-[1.5rem] px-[2px] py-[6px];
  @apply text-content bg-default rounded text-center text-xs leading-3 shadow;
}
.rc-slider-tooltip-arrow {
  @apply absolute h-0 w-0 border-solid border-transparent;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  @apply border-line bottom-1 left-1/2 -ml-1 border;
}
